body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:794px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:574px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26515 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:797px;
  width:743px;
  height:574px;
}
#u26516 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:279px;
  width:739px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:433px;
}
#u26517 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:885px;
  width:498px;
  height:433px;
}
#u26518 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:208px;
  width:494px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:445px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26519 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:281px;
  width:706px;
  height:445px;
}
#u26520 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:214px;
  width:702px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:335px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26522 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:328px;
  width:465px;
  height:335px;
}
#u26523 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:160px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u26524 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:499px;
  width:432px;
  height:83px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u26525 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:428px;
  word-wrap:break-word;
}
#u26526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 168, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u26526 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:592px;
  width:432px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u26526_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 168, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u26526.mouseDown {
  opacity:0.9;
}
#u26527 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:428px;
  word-wrap:break-word;
}
#u26528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u26528 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:340px;
  width:35px;
  height:35px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u26529 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26530 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:171px;
  background:inherit;
  background-color:rgba(245, 240, 222, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:28px;
}
#u26531 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:681px;
  height:171px;
  text-align:left;
  line-height:28px;
}
#u26532 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:651px;
  word-wrap:break-word;
}
#u26533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:445px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26533 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1442px;
  width:620px;
  height:445px;
}
#u26534 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:214px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26535 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26536 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:1554px;
  width:284px;
  height:244px;
}
#u26537 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:114px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u26538 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:1658px;
  width:261px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u26539 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:257px;
  word-wrap:break-word;
}
#u26540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 168, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u26540 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:1746px;
  width:261px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u26540_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 168, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u26540.mouseDown {
  opacity:0.9;
}
#u26541 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:257px;
  word-wrap:break-word;
}
#u26542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u26542 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:1556px;
  width:28px;
  height:28px;
}
#u26543 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u26544 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:1579px;
  width:64px;
  height:64px;
}
#u26545 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:40px;
}
#u26546 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:231px;
  width:387px;
  height:40px;
  color:#FFFFFF;
  text-align:left;
}
#u26547 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:367px;
  word-wrap:break-word;
}
#u26548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
}
#u26548 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:747px;
  width:228px;
  height:40px;
  color:#FFFFFF;
  text-align:left;
}
#u26549 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:208px;
  word-wrap:break-word;
}
#u26550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:40px;
}
#u26550 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1392px;
  width:214px;
  height:40px;
  color:#FFFFFF;
  text-align:left;
}
#u26551 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:194px;
  word-wrap:break-word;
}
#u26552_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:0px;
  width:19px;
  height:182px;
}
#u26552p000 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:85px;
  width:176px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u26552p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:178px;
  height:6px;
}
#u26552p001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:2px;
  height:3px;
}
#u26552p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:2px;
  height:4px;
}
#u26552p002 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:160px;
  width:20px;
  height:20px;
}
#u26552p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u26552.compound {
  width:0px;
  height:0px;
}
#u26552 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:624px;
  width:1px;
  height:173px;
}
#u26553 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:78px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26554_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:0px;
  width:19px;
  height:230px;
}
#u26554p000 {
  border-width:0px;
  position:absolute;
  left:-112px;
  top:108px;
  width:224px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u26554p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:226px;
  height:6px;
}
#u26554p001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:2px;
  height:3px;
}
#u26554p001_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:4px;
  height:4px;
}
#u26554p002 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:208px;
  width:20px;
  height:20px;
}
#u26554p002_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u26554.compound {
  width:0px;
  height:0px;
}
#u26554 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:1221px;
  width:1px;
  height:221px;
}
#u26555 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:102px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26556 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u26557 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:439px;
  width:307px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u26558 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  word-wrap:break-word;
}
#u26559 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:89px;
}
#u26560 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:340px;
  width:89px;
  height:89px;
}
#u26561 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u26562 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:358px;
  width:56px;
  height:56px;
}
#u26563 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 249, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u26564 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:1033px;
  width:217px;
  height:40px;
  font-size:18px;
  text-align:left;
}
#u26565 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:213px;
  word-wrap:break-word;
}
