body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1498px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:254px;
}
#u34212 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:1313px;
  width:651px;
  height:254px;
}
#u34213 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:119px;
  width:647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:55px;
}
#u34214 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:1397px;
  width:56px;
  height:55px;
}
#u34215 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u34216 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:1395px;
  width:349px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u34217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:349px;
  word-wrap:break-word;
}
#u34218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:117px;
  background:inherit;
  background-color:rgba(245, 240, 222, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u34218 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:1592px;
  width:651px;
  height:117px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u34219 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:611px;
  word-wrap:break-word;
}
#u34220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:365px;
}
#u34220 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:869px;
  width:493px;
  height:365px;
}
#u34221 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:174px;
  width:489px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u34222 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:819px;
  width:360px;
  height:40px;
  color:#FFFFFF;
  text-align:left;
}
#u34223 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:340px;
  word-wrap:break-word;
}
#u34224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:569px;
  background:inherit;
  background-color:rgba(245, 240, 222, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:28px;
}
#u34224 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1262px;
  width:402px;
  height:569px;
  text-align:left;
  line-height:28px;
}
#u34225 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:372px;
  word-wrap:break-word;
}
#u34226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:120px;
  background:inherit;
  background-color:rgba(220, 45, 0, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u34227 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:1342px;
  width:206px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u34228 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u34229 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:1422px;
  width:206px;
  height:20px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u34230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u34231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:49px;
}
#u34231 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:1360px;
  width:57px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u34232 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:87px;
  background:inherit;
  background-color:rgba(245, 240, 222, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:28px;
}
#u34233 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:1072px;
  width:360px;
  height:87px;
  text-align:left;
  line-height:28px;
}
#u34234 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:330px;
  word-wrap:break-word;
}
#u34235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:365px;
}
#u34235 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:882px;
  width:493px;
  height:365px;
}
#u34236 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:174px;
  width:489px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:40px;
}
#u34237 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:832px;
  width:493px;
  height:40px;
  color:#FFFFFF;
  text-align:left;
}
#u34238 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:473px;
  word-wrap:break-word;
}
#u34239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u34239 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:1105px;
  width:200px;
  height:60px;
}
#u34240 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 216, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u34241 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:1123px;
  width:180px;
  height:28px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u34242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:180px;
  word-wrap:break-word;
}
#u34243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:40px;
}
#u34243 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:1258px;
  width:588px;
  height:40px;
  color:#FFFFFF;
  text-align:left;
}
#u34244 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:568px;
  word-wrap:break-word;
}
#u34245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:700px;
}
#u34245 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:1124px;
  width:1px;
  height:699px;
}
#u34246 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:342px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:55px;
  height:19px;
}
#u34247p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:50px;
  height:4px;
}
#u34247p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:52px;
  height:6px;
}
#u34247p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:3px;
  height:2px;
}
#u34247p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u34247p002 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-10px;
  width:20px;
  height:20px;
}
#u34247p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u34247.compound {
  width:0px;
  height:0px;
}
#u34247 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:1822px;
  width:46px;
  height:1px;
}
#u34248 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(45, 185, 70, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u34250 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:975px;
  width:120px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u34251 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u34252 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:1055px;
  width:120px;
  height:20px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u34253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u34254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u34254 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:992px;
  width:49px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u34255 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:148px;
  height:19px;
}
#u34256p000 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-2px;
  width:142px;
  height:4px;
}
#u34256p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:144px;
  height:6px;
}
#u34256p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:3px;
  height:2px;
}
#u34256p001_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u34256p002 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:-10px;
  width:20px;
  height:20px;
}
#u34256p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:20px;
  height:22px;
}
#u34256.compound {
  width:0px;
  height:0px;
}
#u34256 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:1123px;
  width:139px;
  height:1px;
}
#u34257 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34258 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:1757px;
  width:340px;
  height:57px;
}
#u34259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u34260_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:19px;
  height:276px;
}
#u34260p000 {
  border-width:0px;
  position:absolute;
  left:-135px;
  top:132px;
  width:270px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u34260p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:272px;
  height:4px;
}
#u34260p001 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u34260p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u34260p002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:265px;
  width:2px;
  height:3px;
}
#u34260p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:4px;
}
#u34260.compound {
  width:0px;
  height:0px;
}
#u34260 {
  border-width:0px;
  position:absolute;
  left:1088px;
  top:1247px;
  width:1px;
  height:266px;
}
#u34261 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:125px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:254px;
}
#u34262 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:1778px;
  width:651px;
  height:254px;
}
#u34263 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:119px;
  width:647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:55px;
}
#u34264 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:1862px;
  width:56px;
  height:55px;
}
#u34265 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u34266 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:1862px;
  width:471px;
  height:57px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u34267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:471px;
  word-wrap:break-word;
}
#u34268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:40px;
}
#u34268 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:1730px;
  width:605px;
  height:40px;
  color:#FFFFFF;
  text-align:left;
}
#u34269 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:585px;
  word-wrap:break-word;
}
#u34270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:55px;
  height:19px;
}
#u34270p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:50px;
  height:4px;
}
#u34270p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:52px;
  height:6px;
}
#u34270p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:3px;
  height:2px;
}
#u34270p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u34270p002 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-10px;
  width:20px;
  height:20px;
}
#u34270p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u34270.compound {
  width:0px;
  height:0px;
}
#u34270 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:1424px;
  width:46px;
  height:1px;
}
#u34271 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:155px;
  background:inherit;
  background-color:rgba(220, 45, 0, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u34273 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:1573px;
  width:197px;
  height:155px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u34274 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u34275 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:1692px;
  width:197px;
  height:28px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u34276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u34277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:69px;
}
#u34277 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:1597px;
  width:80px;
  height:69px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u34278 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u34279 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:1479px;
  width:373px;
  height:57px;
  line-height:28px;
}
#u34280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  word-wrap:break-word;
}
#u34281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:108px;
  height:19px;
}
#u34281p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:102px;
  height:4px;
}
#u34281p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:104px;
  height:6px;
}
#u34281p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:3px;
  height:2px;
}
#u34281p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:4px;
  height:4px;
}
#u34281p002 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:-10px;
  width:20px;
  height:20px;
}
#u34281p002_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u34281.compound {
  width:0px;
  height:0px;
}
#u34281 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:1135px;
  width:99px;
  height:1px;
}
#u34282 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:117px;
  background:inherit;
  background-color:rgba(245, 240, 222, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u34283 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:2042px;
  width:651px;
  height:117px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u34284 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:611px;
  word-wrap:break-word;
}
#u34285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:813px;
  height:172px;
  background:inherit;
  background-color:rgba(245, 240, 222, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u34285 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:16px;
  width:813px;
  height:172px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u34286 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:773px;
  word-wrap:break-word;
}
#u34287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:56px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u34287 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:217px;
  width:111px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u34288 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:107px;
  word-wrap:break-word;
}
#u34289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u34290 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:310px;
  width:146px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u34291 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:142px;
  word-wrap:break-word;
}
#u34292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:29px;
}
#u34292 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:334px;
  width:20px;
  height:29px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u34293 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:69px;
}
#u34294 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:412px;
  width:277px;
  height:65px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34295 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:273px;
  word-wrap:break-word;
}
#u34296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:69px;
}
#u34296 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:541px;
  width:277px;
  height:65px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34297 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:273px;
  word-wrap:break-word;
}
#u34298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u34298 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:653px;
  width:182px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u34299 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:178px;
  word-wrap:break-word;
}
#u34300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:56px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u34300 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:752px;
  width:111px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u34301 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:107px;
  word-wrap:break-word;
}
#u34302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u34302 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:417px;
  width:262px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u34303 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:258px;
  word-wrap:break-word;
}
#u34304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u34304 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:531px;
  width:219px;
  height:86px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u34305 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:215px;
  word-wrap:break-word;
}
#u34306 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:258px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u34306_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u34306_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u34307 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34308 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:358px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u34308_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u34308_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:42px;
  width:18px;
  height:18px;
}
#u34309 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34310 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:477px;
  width:0px;
  height:0px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u34310_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:68px;
}
#u34310_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:52px;
  width:18px;
  height:18px;
}
#u34311 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u34312 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:606px;
  width:0px;
  height:0px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u34312_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u34312_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:35px;
  width:18px;
  height:18px;
}
#u34313 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u34314 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:708px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u34314_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u34314_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:18px;
}
#u34315 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34316 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:445px;
  width:0px;
  height:0px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u34316_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:66px;
  height:8px;
}
#u34316_seg1 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-9px;
  width:18px;
  height:18px;
}
#u34317 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u34318 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:574px;
  width:0px;
  height:0px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u34318_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:66px;
  height:8px;
}
#u34318_seg1 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-9px;
  width:18px;
  height:18px;
}
#u34319 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
