body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1331px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21407 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:55px;
  width:1275px;
  height:356px;
}
#u21408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u21408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
  color:#FFFFFF;
}
#u21409 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:6px;
  width:164px;
  word-wrap:break-word;
}
#u21410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:30px;
}
#u21410 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:0px;
  width:489px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21411 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:6px;
  width:479px;
  word-wrap:break-word;
}
#u21412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:30px;
}
#u21412 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:0px;
  width:607px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21413 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:6px;
  width:597px;
  word-wrap:break-word;
}
#u21414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:70px;
}
#u21414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:174px;
  height:70px;
  font-size:14px;
}
#u21415 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:25px;
  width:144px;
  word-wrap:break-word;
}
#u21416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:70px;
}
#u21416 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:30px;
  width:489px;
  height:70px;
  font-size:14px;
  text-align:left;
}
#u21417 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:25px;
  width:459px;
  word-wrap:break-word;
}
#u21418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:70px;
}
#u21418 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:30px;
  width:607px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u21419 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:25px;
  width:577px;
  word-wrap:break-word;
}
#u21420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:50px;
}
#u21420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:174px;
  height:50px;
  font-size:14px;
}
#u21421 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:144px;
  word-wrap:break-word;
}
#u21422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:50px;
}
#u21422 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:100px;
  width:489px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u21423 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:459px;
  word-wrap:break-word;
}
#u21424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:50px;
}
#u21424 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:100px;
  width:607px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u21425 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:577px;
  word-wrap:break-word;
}
#u21426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:51px;
}
#u21426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:174px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21427 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:144px;
  word-wrap:break-word;
}
#u21428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:51px;
}
#u21428 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:150px;
  width:489px;
  height:51px;
  font-size:14px;
  text-align:left;
}
#u21429 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:459px;
  word-wrap:break-word;
}
#u21430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:51px;
}
#u21430 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:150px;
  width:607px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u21431 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:577px;
  word-wrap:break-word;
}
#u21432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:50px;
}
#u21432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:201px;
  width:174px;
  height:50px;
  font-size:14px;
}
#u21433 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:144px;
  word-wrap:break-word;
}
#u21434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:50px;
}
#u21434 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:201px;
  width:489px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u21435 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:459px;
  word-wrap:break-word;
}
#u21436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:50px;
}
#u21436 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:201px;
  width:607px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u21437 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:577px;
  word-wrap:break-word;
}
#u21438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:50px;
}
#u21438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:251px;
  width:174px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21439 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:144px;
  word-wrap:break-word;
}
#u21440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:50px;
}
#u21440 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:251px;
  width:489px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u21441 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:459px;
  word-wrap:break-word;
}
#u21442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:50px;
}
#u21442 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:251px;
  width:607px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u21443 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:577px;
  word-wrap:break-word;
}
#u21444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:50px;
}
#u21444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:301px;
  width:174px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21445 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:144px;
  word-wrap:break-word;
}
#u21446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:50px;
}
#u21446 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:301px;
  width:489px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u21447 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:459px;
  word-wrap:break-word;
}
#u21448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:50px;
}
#u21448 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:301px;
  width:607px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u21449 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:577px;
  word-wrap:break-word;
}
#u21450 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u21451 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:448px;
  width:198px;
  height:40px;
  color:#FFFFFF;
  text-align:left;
}
#u21452 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:178px;
  word-wrap:break-word;
}
#u21453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:639px;
}
#u21453 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:498px;
  width:360px;
  height:639px;
}
#u21454 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#BCBCBC;
}
#u21455 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:727px;
  width:224px;
  height:36px;
  font-size:16px;
  color:#BCBCBC;
}
#u21456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:224px;
  word-wrap:break-word;
}
#u21457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#BCBCBC;
}
#u21457 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:780px;
  width:103px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#BCBCBC;
}
#u21458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u21459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21459 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:1040px;
  width:360px;
  height:96px;
}
#u21460 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21461 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u21463 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:1051px;
  width:44px;
  height:44px;
}
#u21464 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
  text-align:center;
}
#u21465 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:1100px;
  width:57px;
  height:18px;
  font-size:13px;
  color:#999999;
  text-align:center;
}
#u21466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u21467 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:46px;
}
#u21468 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:1049px;
  width:48px;
  height:46px;
}
#u21469 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u21470 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:1100px;
  width:63px;
  height:18px;
  font-size:13px;
  color:#999999;
}
#u21471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u21472 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:49px;
}
#u21473 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:1046px;
  width:60px;
  height:49px;
}
#u21474 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u21475 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:1100px;
  width:63px;
  height:18px;
  font-size:13px;
  color:#999999;
}
#u21476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u21477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:47px;
}
#u21477 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:1050px;
  width:49px;
  height:47px;
}
#u21478 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u21479 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:1101px;
  width:66px;
  height:22px;
  font-size:13px;
  color:#999999;
}
#u21480 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u21481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:639px;
}
#u21481 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:496px;
  width:360px;
  height:639px;
}
#u21482 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u21483 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:758px;
  width:29px;
  height:29px;
}
#u21484 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#BCBCBC;
}
#u21485 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:755px;
  width:103px;
  height:36px;
  font-size:16px;
  color:#BCBCBC;
}
#u21486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u21487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21487 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:1038px;
  width:360px;
  height:96px;
}
#u21488 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21489 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:449px;
  width:180px;
  height:40px;
  color:#FFFFFF;
  text-align:left;
}
#u21490 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:160px;
  word-wrap:break-word;
}
#u21491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00A6FF;
}
#u21491 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:535px;
  width:65px;
  height:23px;
  color:#00A6FF;
}
#u21492 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u21493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21494 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u21495 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:1051px;
  width:44px;
  height:44px;
}
#u21496 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
  text-align:center;
}
#u21497 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:1100px;
  width:57px;
  height:18px;
  font-size:13px;
  color:#999999;
  text-align:center;
}
#u21498 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u21499 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:46px;
}
#u21500 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:1049px;
  width:48px;
  height:46px;
}
#u21501 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u21502 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:1100px;
  width:63px;
  height:18px;
  font-size:13px;
  color:#999999;
}
#u21503 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u21504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:49px;
}
#u21505 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:1046px;
  width:60px;
  height:49px;
}
#u21506 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u21507 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:1100px;
  width:63px;
  height:18px;
  font-size:13px;
  color:#999999;
}
#u21508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u21509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:47px;
}
#u21509 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:1050px;
  width:49px;
  height:47px;
}
#u21510 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u21511 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:1101px;
  width:66px;
  height:22px;
  font-size:13px;
  color:#999999;
}
#u21512 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
