body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1035px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34320 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:985px;
  height:170px;
  background:inherit;
  background-color:rgba(245, 240, 222, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:28px;
}
#u34321 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:985px;
  height:170px;
  text-align:left;
  line-height:28px;
}
#u34322 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:955px;
  word-wrap:break-word;
}
#u34323 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:985px;
  height:162px;
  background:inherit;
  background-color:rgba(245, 240, 222, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:28px;
}
#u34324 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:238px;
  width:985px;
  height:162px;
  text-align:left;
  line-height:28px;
}
#u34325 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:955px;
  word-wrap:break-word;
}
#u34326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:281px;
}
#u34326 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:415px;
  width:454px;
  height:281px;
}
#u34327 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:132px;
  width:450px;
  visibility:hidden;
  word-wrap:break-word;
}
