body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2069px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1137px;
  height:871px;
}
#u26471 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:223px;
  width:1137px;
  height:871px;
}
#u26472 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:428px;
  width:1133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u26473 {
  border-width:0px;
  position:absolute;
  left:1024px;
  top:250px;
  width:1px;
  height:19px;
}
#u26474 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26475 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:809px;
  width:92px;
  height:58px;
}
#u26476 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u26477 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:809px;
  width:58px;
  height:58px;
}
#u26478 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u26479 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:870px;
  width:98px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u26480 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:94px;
  word-wrap:break-word;
}
#u26481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:114px;
  background:inherit;
  background-color:rgba(245, 240, 222, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:28px;
}
#u26482 {
  border-width:0px;
  position:absolute;
  left:1264px;
  top:223px;
  width:375px;
  height:114px;
  text-align:left;
  line-height:28px;
}
#u26483 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:345px;
  word-wrap:break-word;
}
#u26484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:350px;
  height:19px;
}
#u26484p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:344px;
  height:4px;
}
#u26484p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:346px;
  height:6px;
}
#u26484p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:3px;
  height:2px;
}
#u26484p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u26484p002 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:-10px;
  width:20px;
  height:20px;
}
#u26484p002_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:22px;
  height:20px;
}
#u26484.compound {
  width:0px;
  height:0px;
}
#u26484 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:282px;
  width:341px;
  height:1px;
}
#u26485 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u26486 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:264px;
  width:1px;
  height:19px;
}
#u26487 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:86px;
  background:inherit;
  background-color:rgba(245, 240, 222, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:28px;
}
#u26489 {
  border-width:0px;
  position:absolute;
  left:1434px;
  top:980px;
  width:375px;
  height:86px;
  text-align:left;
  line-height:28px;
}
#u26490 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:345px;
  word-wrap:break-word;
}
#u26491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:606px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26491 {
  border-width:0px;
  position:absolute;
  left:1267px;
  top:356px;
  width:802px;
  height:606px;
}
#u26492 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:295px;
  width:798px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:547px;
}
#u26493 {
  border-width:0px;
  position:absolute;
  left:1434px;
  top:386px;
  width:494px;
  height:547px;
}
#u26494 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:266px;
  width:490px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u26495 {
  border-width:0px;
  position:absolute;
  left:1459px;
  top:400px;
  width:132px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u26496 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:128px;
  word-wrap:break-word;
}
#u26497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u26497 {
  border-width:0px;
  position:absolute;
  left:1498px;
  top:529px;
  width:404px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u26498 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:400px;
  word-wrap:break-word;
}
#u26499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u26499 {
  border-width:0px;
  position:absolute;
  left:1620px;
  top:886px;
  width:161px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u26500 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:157px;
  word-wrap:break-word;
}
#u26501_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:0px;
  width:19px;
  height:82px;
}
#u26501p000 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:34px;
  width:76px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u26501p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:6px;
}
#u26501p001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:2px;
  height:3px;
}
#u26501p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:4px;
}
#u26501p002 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:60px;
  width:20px;
  height:20px;
}
#u26501p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:20px;
  height:22px;
}
#u26501.compound {
  width:0px;
  height:0px;
}
#u26501 {
  border-width:0px;
  position:absolute;
  left:1668px;
  top:907px;
  width:1px;
  height:73px;
}
#u26502 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:273px;
  height:19px;
}
#u26503p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:268px;
  height:4px;
}
#u26503p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:270px;
  height:6px;
}
#u26503p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:3px;
  height:2px;
}
#u26503p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:4px;
  height:4px;
}
#u26503p002 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:-10px;
  width:20px;
  height:20px;
}
#u26503p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:20px;
  height:22px;
}
#u26503.compound {
  width:0px;
  height:0px;
}
#u26503 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:851px;
  width:264px;
  height:1px;
}
#u26504 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u26506 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:248px;
  width:74px;
  height:24px;
  color:#999999;
}
#u26507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u26508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u26508 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:247px;
  width:22px;
  height:22px;
}
#u26509 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u26510 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:249px;
  width:1px;
  height:19px;
}
#u26511 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26512 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:149px;
  background:inherit;
  background-color:rgba(245, 240, 222, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:28px;
}
#u26513 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:501px;
  height:149px;
  text-align:left;
  line-height:28px;
}
#u26514 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:471px;
  word-wrap:break-word;
}
