body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:778px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28662 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:50px;
  width:732px;
  height:615px;
}
#u28663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:41px;
}
#u28663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u28664 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u28665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u28665 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:0px;
  width:111px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u28666 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u28667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:41px;
}
#u28667 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:0px;
  width:513px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u28668 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:509px;
  word-wrap:break-word;
}
#u28669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:75px;
}
#u28669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:103px;
  height:75px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u28670 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:75px;
}
#u28671 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:41px;
  width:111px;
  height:75px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u28672 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:107px;
  word-wrap:break-word;
}
#u28673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:75px;
}
#u28673 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:41px;
  width:513px;
  height:75px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u28674 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:509px;
  word-wrap:break-word;
}
#u28675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:82px;
}
#u28675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:116px;
  width:103px;
  height:82px;
  font-size:14px;
}
#u28676 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:33px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:82px;
}
#u28677 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:116px;
  width:111px;
  height:82px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u28678 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:107px;
  word-wrap:break-word;
}
#u28679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:82px;
}
#u28679 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:116px;
  width:513px;
  height:82px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u28680 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:509px;
  word-wrap:break-word;
}
#u28681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:412px;
}
#u28681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:198px;
  width:103px;
  height:412px;
  font-size:14px;
}
#u28682 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:198px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:412px;
}
#u28683 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:198px;
  width:111px;
  height:412px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u28684 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:196px;
  width:107px;
  word-wrap:break-word;
}
#u28685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:412px;
}
#u28685 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:198px;
  width:513px;
  height:412px;
  font-size:14px;
  text-align:left;
}
#u28686 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:509px;
  word-wrap:break-word;
}
#u28687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u28687 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:125px;
  width:102px;
  height:149px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u28688 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:98px;
  word-wrap:break-word;
}
